:root {
	--background-color: #8bd3dd;
	--header-background: #0045ff;
	--list-background: #fff;
	--disappear-duration: 0.75s;
}

// Initialize
html {
	font-size: 62.5%;
}

body {
	background-color: var(--background-color);
}

input[type="text"] {
	appearance: textfield;
	border: 1px solid black;
}

// Header section
.header {
	--font-color: white;
	display: flex;
	justify-content: center;
	background-color: var(--header-background);
	color: var(--font-color);
	padding: 2rem;
	&__title {
		font-size: 5rem;
		font-weight: bold;
	}
}

@mixin transBackground($transDu: 0.5s) {
	background-color: transparent;
	transition-property: background-color;
	transition-duration: $transDu;
	transition-timing-function: linear;
}

// List section
.main {
	&__input {
		margin-top: 5rem;
		display: flex;
		justify-content: center;
		font-size: 2rem;

		#input {
			padding: 0.5rem 1rem;
			width: 40%;

			@include transBackground();

			&:hover,
			&:focus {
				background-color: white;
			}
		}

		#btn--add {
			height: 4rem;
			margin-left: 2rem;
			padding: 0.25rem 4rem;
			border: 0.25rem solid black;
			border-radius: 0.75rem;
			background: linear-gradient(#3da9fc 0 0) left/var(--d, 0%) 100%
				no-repeat;
			transition: 0.5s;
			&:hover {
				--d: 100%;
				color: #fff;
			}
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		margin-top: 6rem;

		#list {
			font-size: 2rem;
			display: inline-block;
			width: 50vw;
			min-height: 20rem;
			background-color: transparent;
			border: 0.5rem solid blue;
			border-radius: 1rem;
			padding: 1rem 0;

			transition-property: all;
			transition-duration: var(--disappear-duration);
			transition-timing-function: ease;
		}
	}

	&__item {
		--border-color: #a4581b;
		min-height: 3rem;
		border: 0.1rem solid var(--border-color);
		margin: 1rem;
		padding: 0.5rem 3rem 0.5rem 0.5rem;
		position: relative;
		word-break: break-word;

		&:hover {
			background-color: var(--list-background);
		}

		&:hover > &-btn {
			appearance: checkbox;
		}

		&-btn {
			--border-color: #000;
			position: absolute;
			right: 1rem;
			top: 0.75rem;
			border: 0.25rem solid var(--border-color);
			width: 1.5rem;
			height: 1.5rem;
			appearance: none;
		}
	}
}

.disappear {
	animation-name: flyout;
	animation-duration: var(--disappear-duration);
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes flyout {
	from {
		opacity: 100%;
		right: 0;
	}
	to {
		right: 100%;
		opacity: 0;
	}
}
