:root {
  --background-color: #8bd3dd;
  --header-background: #0045ff;
  --list-background: #fff;
  --disappear-duration: 0.75s; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--background-color); }

input[type="text"] {
  appearance: textfield;
  border: 1px solid black; }

.header {
  --font-color: white;
  display: flex;
  justify-content: center;
  background-color: var(--header-background);
  color: var(--font-color);
  padding: 2rem; }
  .header__title {
    font-size: 5rem;
    font-weight: bold; }

.main__input {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-size: 2rem; }
  .main__input #input {
    padding: 0.5rem 1rem;
    width: 40%;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
    .main__input #input:hover, .main__input #input:focus {
      background-color: white; }
  .main__input #btn--add {
    height: 4rem;
    margin-left: 2rem;
    padding: 0.25rem 4rem;
    border: 0.25rem solid black;
    border-radius: 0.75rem;
    background: linear-gradient(#3da9fc 0 0) left/var(--d, 0%) 100% no-repeat;
    transition: 0.5s; }
    .main__input #btn--add:hover {
      --d: 100%;
      color: #fff; }

.main__list {
  display: flex;
  justify-content: center;
  margin-top: 6rem; }
  .main__list #list {
    font-size: 2rem;
    display: inline-block;
    width: 50vw;
    min-height: 20rem;
    background-color: transparent;
    border: 0.5rem solid blue;
    border-radius: 1rem;
    padding: 1rem 0;
    transition-property: all;
    transition-duration: var(--disappear-duration);
    transition-timing-function: ease; }

.main__item {
  --border-color: #a4581b;
  min-height: 3rem;
  border: 0.1rem solid var(--border-color);
  margin: 1rem;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  position: relative;
  word-break: break-word; }
  .main__item:hover {
    background-color: var(--list-background); }
  .main__item:hover > .main__item-btn {
    appearance: checkbox; }
  .main__item-btn {
    --border-color: #000;
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    border: 0.25rem solid var(--border-color);
    width: 1.5rem;
    height: 1.5rem;
    appearance: none; }

.disappear {
  animation-name: flyout;
  animation-duration: var(--disappear-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; }

@keyframes flyout {
  from {
    opacity: 100%;
    right: 0; }
  to {
    right: 100%;
    opacity: 0; } }
